<nb-card>
    <nb-card-header>BUSQUEDA DE CONSULTAS</nb-card-header>
    <nb-card-body>
        <div class="row">
          <div class="col-xxxl-3 col-xxl-3 col-lg-3">
            <div class="form-group">
              <label for="inputScheduleStatus" class="label">Estado</label>
              <nb-select  fullWidth [(ngModel)]="selectedValue" (change)="onSelect($event)">
                <nb-option value="ALL">Todos</nb-option>
                <nb-option value="1">Pendiente</nb-option>
                <nb-option value="2">Rechazado</nb-option>
                <nb-option value="3">Atendido</nb-option>
                <nb-option value="4">Cacelado</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xxxl-3 col-xxl-3 col-lg-3">
              <div class="form-group">
                <label for="inputDniOrConsulting" class="label">Nro Identidad / Nro Consulta</label>
                <input type="text" nbInput fullWidth id="inputDniOrConsulting" placeholder="xxxxxxxx" [(ngModel)]="isearch.docNumber">
              </div>
            </div>
            <div class="col-xxxl-3 col-xxl-3 col-lg-3">
                <div class="form-group">
                  <label for="inputEmail" class="label">Email</label>
                  <input type="email" nbInput fullWidth id="inputEmail" placeholder="demo@demo.com" [(ngModel)]="isearch.email">
                </div>
            </div>
            <div class="col-xxxl-3 col-xxl-3 col-lg-3">
                <div class="form-group">
                  <label for="inputScheduleDateStart" class="label">Fecha inicio</label>
                  <input type="text" nbInput fullWidth id="inputScheduleDateStart" placeholder="dd/mm/yyyy" [(ngModel)]="isearch.startDate">
                </div>
            </div>
            <div class="col-xxxl-3 col-xxl-3 col-lg-3">
              <div class="form-group">
                <label for="inputScheduleDateEnd" class="label">Fecha fin</label>
                <input type="text" nbInput fullWidth id="inputScheduleDateEnd" placeholder="dd/mm/yyyy" [(ngModel)]="isearch.endDate">
              </div>
          </div>
          </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="buttons-row">
            <button nbButton status="success" outline>
                CANCELAR
            </button>
            <button (click)="search()" nbButton status="success">
                BUSCAR
            </button>
          </div>
      </nb-card-footer>
</nb-card>

<nb-card class="cards-container">
    <nb-card size="large" class="table-card">
        <nb-card-header>
            RESULTADO
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table 
              [settings]="settings" 
              [source]="source" 
              (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
          </nb-card-body>
    </nb-card>
</nb-card>